<h1>Add New Food Item to menu</h1>
<%= form_for(@food) do |f| %>
  <p>
  	<%= f.label :name %><br>
  	<%= f.text_field :name %>
  </p>
  <p>
  	<%= f.label :price %>
  	<%= f.text_field :price %>
  </p>
  <%= f.submit %>
<% end %>