<!DOCTYPE html>
<html>
  <head>
    <title>POS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render partial: "shared/navbar" %>
  	<div class="container-fluid">
  	  <div class="row">
  	  	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
  	  		<%= render partial: "shared/sidebar" %>
  	  	</div>
  	  	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
  	  	  <%= yield %>
  	  	</div>
  	  </div>
  	</div>
  </body>
</html>
